body .home{
    position: absolute;
    left:0;
    display:flex;
    flex-direction: column;
    width:79.9%;
    transition: width .7s ease;
}
body .home main .welcome{
    background-color: white;
    margin-top:15px;
    padding:10px 0;
    text-align: center;
}
body .home main .content{
    display: flex;
    justify-content: space-between;
    margin-top:15px;
    height: 70vh;
}
body .home main .content .cal{
    background-color: white;
    width:48.5%;
    height: 100%;
}
body .home main .content .informattions-parent{
    width:48.5%;
    height: 100%;
}
body .home main .content .informattions-parent .informations{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: red; */
    /* height: 100%; */
}
body .home main .content .informattions-parent .informations .parent{
    display: flex;
    margin-bottom: 15px;
    border-radius: 3px;
    color:white;
    width:calc(100%/3 - 1.5%);
    padding:10px;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}
body .home main .content .informattions-parent .informations .parent .content{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: fit-content;
}
body .home main .content .informattions-parent .informations .parent .content p, body .home main .content .informattions-parent .informations .parent .content h5{
    text-align: center;
    margin: 0;
}
body .home main .content .informattions-parent .informations .parent .content p{
    font-size: .8rem;
    font-weight: light;
    margin-bottom:5px;
}
body .home main .content .informattions-parent .informations .parent .icon{
    display: flex;
    align-items: center;
    padding: 7px;
    background-color:inherit;
    border-radius: 50%;
}
body .home main .content .informattions-parent .informations #one, body .home main .content .informattions-parent .informations #six{
    background: linear-gradient(to right, rgba(0, 138, 106, 100%), rgba(0, 138, 106, 70%));
}
body .home main .content .informattions-parent .informations #two, body .home main .content .informattions-parent .informations #four{
    background: linear-gradient(to right, rgba(255, 91, 103, 100%), rgba(255, 91, 103, 70%));
}
body .home main .content .informattions-parent .informations #three, body .home main .content .informattions-parent .informations #five{
    background: linear-gradient(to right, rgba(0, 94, 213, 100%), rgba(0, 94, 213, 70%));
}
body .home main .content .informattions-parent .informations #seven{
    width:calc(100%/2 - 1.5%);
    background: linear-gradient(to right, rgba(255, 118, 51, 100%), rgba(255, 118, 51, 70%));
}
body .home main .content .informattions-parent .informations #eight{
    width:calc(100%/2 - 1.5%);
    background: linear-gradient(to right, rgba(101, 111, 144, 100%), rgba(101, 111, 144, 70%));
}

body .home main .content .informattions-parent .links h6{
    direction: rtl;
}
body .home main .content .informattions-parent .links .links-container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
body .home main .content .informattions-parent .links .links-container div{
    padding:5px 10px;
    color:white;
    background-color: rgba(0, 94, 213, 100%);
    width:calc(100% / 4 - 1.5%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 10px;
}
body .home main .content .informattions-parent .links .links-container div p{
    margin: 0 5px;
    font-size:.6rem;
    text-align: center;
}